<%-include("header") -%> 


    <div class="messages-content">
      <div class="message new"> Hello I am A Bot !!  </div>
      <!-- <div class="message message-personal new">HI</div> -->
    </div>
  


<%-include("footer") -%> 

